@import './mixin.scss';
@import './reset.scss';
@import './font.scss'; // 自定义字体
// @import '../fonts/iconfont.css'; // iconfont直接使用download的，减小更新成本

// 禁止选中文字
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
// 不显示scrollbar
::-webkit-scrollbar {
  display: none;
}

html, #app, .app-main {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  color: #fff;
  background-color: #060E12;
}

// 常用mixin注入，使用u-xxx表示
.u-clearfix {
  @include clearfix;
}
.u-ellipsis {
  @include textEllipsis;
}
.u-break {
  @include textBreak;
}
